html {
	background-color:#ffffff;
	font-size: 14px;
}
body {
	background-color:#ffffff;
	color: #d87575;
	margin: 0 auto;
	width: 870px;
	font-family: 'courier', sans-serif;
}
h1	{
	 color:#4d4d4d;
	 font-size: 40px;
	 text-align: center;
	
}
img	{
	margin 0 auto;
	display: block;
