html {
	background-color:#ffffff;
	font-size: 14px;
}
body {
	background-color:#ffffff;
	color: #0d0d0d;
	margin-left: auto;
    	margin-right: auto;
	width: 870px;
	font-family: 'courier', sans-serif;
}
h1	{
	 color:#4d4d4d;
	 font-size: 30px;
	 text-align: center;
}	
h3	{
	 color:#4d4d4d;
	 font-size: 15px;
	 text-align: center;
	
}
img	{
    margin-left: auto;
    margin-right: auto;
    display: block;

#sidebar {
	position:fixed;
	width:200px;
	height:100%;
	background:#151719;
 }
 #sidebar ul li {
  color:rgba(230,230,230,0.9);
  list-style:none;
  padding:15px 10px;
  border-bottom: 1px solid rgba(100,100,100,0.3);
 }
#sidebar .toggle-btn {
position:absolute;
left:230px;
top:20px;	
 }
#sidebar .toggle-btn span {
 display:block;
 width:30px;
 height:5px;
 background:#151719;
 margin:3px 0px;
 }
 

